---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import SocialLinks from "../components/SocialLinks.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import siteSections from "../data/site-sections.json";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .site-sections {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        > article {
          height: 10rem;
          width: 25rem;
          background: var(--foreground-gradient);
          border-radius: 0.25rem;
          padding: 2rem;
          box-sizing: border-box;
          filter: brightness(1);
          scale: 1;
          transition: scale 300ms, filter 300ms;

          &:hover {
            cursor: pointer;
            scale: 1.05;
            filter: brightness(1.15)
          }

          > a {
            color: var(--base-text-color);
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            h3 {
              font-size: 1.4em;
              text-align: center;
            }
            p {
              font-size: 1.1em;
              text-align: center;
            }
          }
        }
      }
      #main-page-pfp {
        border-radius: 50%;
      }
      main {
        gap: 2rem;
        > * {
          margin-block: 0 !important;
        }
      }
    </style>
  </head>
  <body>
    <main>
      <h1>DJPiplup</h1>
      <img src="favicon.png" id="main-page-pfp" alt="DJPiplup's Profile Picture, a painted round yellow bird holding a knife" height="194" width="194"/>
      <p class="intro-blurb">
        Welcome! I'm a programmer (primarily web dev) and enjoyer of many things
        in the video game/anime sphere. I don't really post or publish much, but
        I occasionally have some projects I'll host here.
      </p>
      <SocialLinks />
      <section class="site-sections">
        {siteSections.map(s => !!s.description && <article><a href={s.link}><h3>{s.displayName}</h3><p>{s.description}</p></a></article>)}
      </section>
    </main>
    <Footer />
  </body>
</html>
